useDynLib(Rssa)

import(lattice)

export(clone,
       decompose, decompose.default,
       reconstruct,
       nu,
       nv,
       nlambda,
       calc.v,
       precache,
       cleanup,
       eigenplot,
       new.ssa,
       clusterify,
       wcor, wcor.default,
# Hankel matrix' routines
       new.hmat,
       hmatmul,
       hankel,
       hcols,
       hrows,
       is.hmat,
# SVD
       propack_svd,
       trlan_svd)

S3method("clone", ssa)
S3method("decompose", ssa.svd)
S3method("decompose", ssa.eigen)
S3method("decompose", ssa.propack)
S3method("decompose", ssa.nutrlan)
S3method("reconstruct", ssa)
S3method("calc.v", ssa.nutrlan)
S3method("calc.v", ssa.propack)
S3method("calc.v", ssa.svd)
S3method("calc.v", ssa.eigen)
S3method("nu", ssa)
S3method("nv", ssa)
S3method("nlambda", ssa)
S3method("precache", ssa)
S3method("cleanup", ssa)
S3method("$", ssa)
S3method("print", ssa)
S3method("eigenplot", ssa)
S3method("wcor", ssa)
S3method("plot", wcor.matrix)
S3method("clusterify", wcor.matrix)
S3method("clusterify", ssa)
