useDynLib(Rssa)

import(lattice)
import(svd)
import(forecast)

export(clone,
       decompose,
       decompose.default,
       reconstruct,
       nu,
       nv,
       nlambda,
       nsigma,
       nspecial,
       calc.v,
       precache,
       cleanup,
       new.ssa,
       ssa,
       clusterify,
       wcor,
       wcor.default,
       hmatr,
       wnorm,
# Hankel matrix' routines
       new.hmat,
       hmatmul,
       hankel,
       hcols,
       hrows,
       is.hmat,
# Hankel-block hankel matrix' routines
       new.hbhmat,
       hbhmatmul,
       hbhcols,
       hbhrows,
       is.hbhmat,
# Symmetric toeplitz matrix' routines
       new.tmat,
       tmatmul,
       tcols,
       trows,
       is.tmat,
# Forecast stuff
       lrr,
       roots,
       rforecast,
       vforecast,
       bforecast,
# Period estimation
       parestimate,
# Gap filling and rank estimation
       cadzow,
# Non-orthogonal decompositions
       iossa,
       owcor,
       fossa,
       frobenius.cor
       )

S3method("clone", ssa)
S3method("decompose", "1d.ssa.svd")
S3method("decompose", "1d.ssa.eigen")
S3method("decompose", "1d.ssa.propack")
S3method("decompose", "1d.ssa.nutrlan")
S3method("decompose", "2d.ssa")
S3method("decompose", "2d.ssa.svd")
S3method("decompose", "2d.ssa.eigen")
S3method("decompose", "2d.ssa.propack")
S3method("decompose", "2d.ssa.nutrlan")
S3method("decompose", "toeplitz.ssa.svd")
S3method("decompose", "toeplitz.ssa.eigen")
S3method("decompose", "toeplitz.ssa.propack")
S3method("decompose", "toeplitz.ssa.nutrlan")
S3method("decompose", "mssa.svd")
S3method("decompose", "mssa.eigen")
S3method("decompose", "mssa.propack")
S3method("decompose", "mssa.nutrlan")
S3method("decompose", "cssa.svd")
S3method("decompose", "cssa.eigen")
S3method("decompose", "cssa.propack")
S3method("decompose", "cssa.nutrlan")
S3method("decompose", "pssa")
S3method("decompose", "pssa.svd")
S3method("decompose", "pssa.eigen")
S3method("decompose", "pssa.propack")
S3method("decompose", "pssa.nutrlan")
S3method("decompose", "ossa")
S3method("reconstruct", ssa)
S3method("residuals", ssa)
S3method("residuals", "ssa.reconstruction")
S3method("calc.v", "1d.ssa")
S3method("calc.v", "2d.ssa")
S3method("calc.v", "toeplitz.ssa")
S3method("calc.v", "mssa")
S3method("calc.v", "cssa")
S3method("$", ssa)
S3method("print", ssa)
S3method("print", ossa)
S3method("summary", ssa)
S3method("summary", ossa)
S3method("plot", ssa)
S3method("plot", "1d.ssa.reconstruction")
S3method("plot", "toeplitz.ssa.reconstruction")
S3method("plot", "2d.ssa.reconstruction")
S3method("plot", "mssa.reconstruction")
S3method("plot", "cssa.reconstruction")
S3method("wcor", "default")
S3method("wcor", "1d.ssa")
S3method("wcor", "2d.ssa")
S3method("wcor", "toeplitz.ssa")
S3method("wcor", "mssa")
S3method("wcor", "ossa")
S3method("wnorm", "default")
S3method("wnorm", "1d.ssa")
S3method("wnorm", "2d.ssa")
S3method("wnorm", "toeplitz.ssa")
S3method("wnorm", "mssa")
S3method("plot", wcor.matrix)
S3method("clusterify", wcor.matrix)
S3method("clusterify", ssa)
S3method("lrr", "default")
S3method("lrr", "1d.ssa")
S3method("lrr", "toeplitz.ssa")
S3method("lrr", "mssa")
S3method("lrr", "cssa")
S3method("forecast", "1d.ssa")
S3method("forecast", "toeplitz.ssa")
S3method("predict", "1d.ssa")
S3method("predict", "toeplitz.ssa")
S3method("predict", "mssa")
S3method("rforecast", "1d.ssa")
S3method("rforecast", "toeplitz.ssa")
S3method("rforecast", "mssa")
S3method("rforecast", "cssa")
S3method("rforecast", "pssa")
S3method("vforecast", "1d.ssa")
S3method("vforecast", "toeplitz.ssa")
S3method("vforecast", "mssa")
S3method("vforecast", "cssa")
S3method("vforecast", "pssa")
S3method("roots", "lrr")
S3method("plot", "lrr")
S3method("print", "fdimpars.1d")
S3method("plot", "fdimpars.1d")
S3method("print", "fdimpars.2d")
S3method("plot", "fdimpars.2d")
S3method("plot", "hmatr")
S3method("print", "iossa.result")
S3method("summary", "iossa.result")
S3method("bforecast", "1d.ssa")
S3method("bforecast", "toeplitz.ssa")
S3method("parestimate", "1d.ssa")
S3method("parestimate", "2d.ssa")
S3method("parestimate", "toeplitz.ssa")
S3method("parestimate", "mssa")
S3method("cadzow", "ssa")
S3method("nspecial", "ssa")
S3method("nspecial", "pssa")
